<<<<<<< HEAD
a{
    text-decoration: none;
    color: rgb(241, 185, 111);
   
}
nav img{
    width: 150px;
    display: flex;
}
.aston h1{
    margin-top: 5%;
    text-align: left;
}
.jaguar h1{
    margin-top: 5%;
    text-align: left;
}
.lambo h1{
    margin-top: 5%;
    text-align: left;
}
.porsche h1{
    margin-top: 5%;
    text-align: left;
}
.ferrari h1{
    margin-top: 5%;
    text-align: left;
}
.contact h1{
    margin-top: 5%;
    text-align: left;
}
img{
    width: 100%;
    height: 90%;

}
.porsche{
    height: auto;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(pback.jpg);
    background-position: center;
    background-size: 30%;
 }
 .jaguar{
    height: auto;
    width: 100%;
    background: linear-gradient(rgba(146, 137, 137, 0.7),rgba(175, 164, 164, 0.7)), url(jback.jpg);
    background-position: center;
    background-size: auto;
 }
 .ferrari{
    height: auto;
    width: 100%;
    background: linear-gradient(rgba(146, 137, 137, 0.7),rgba(175, 164, 164, 0.7)), url(fback.jpg);
    background-position: center;
    background-size: 100%;
 }
 .lambo{
    height: auto;
    width: 100%;
    background: linear-gradient(rgba(146, 137, 137, 0.7),rgba(175, 164, 164, 0.7)), url(lback.jpg);
    background-position: center;
    background-size: 40%;
 }
 .aston{
    height: auto;
    width: 100%;
    background: linear-gradient(rgba(146, 137, 137, 0.7),rgba(175, 164, 164, 0.7)), url(aback.jpg);
    background-position: center;
    background-size: 80%;
 }
nav{
    display: flex;
    padding: 20px 100px;
}
nav h1,h2{
            color: blanchedalmond;
}
nav ul{
    text-align: right;
    display: inline;
    list-style: none;
    flex: 1;
}
nav ul li{
    display: inline-block;
    margin: 0 20px;

}
.main-taxt{
    text-align: justify;
    margin: 0px;
    padding: 0px 100px;
}
.main-taxt h1{
    color: aquamarine;
    text-align: center;
}
.main-taxt h3{
    margin-top: 5%;
    align-items: baseline;
    color: rgb(95, 231, 140);
    text-align: end;
}
.main-taxt h5{
    margin-top: 20%;
    color: aqua;
    text-align: center;
    font-size: 70px;
}
.main-taxt p{

    color: rgb(0, 0, 0);
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-style: unset;
}
.main-taxt img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
}
table{
    color: rgb(247, 8, 8);
    font-size: xx-large;
    font-style: normal;
    align-content: center;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
=======
a{
    text-decoration: none;
    color: rgb(241, 185, 111);
   
}
nav img{
    width: 150px;
    display: flex;
}
.aston h1{
    margin-top: 5%;
    text-align: left;
}
.jaguar h1{
    margin-top: 5%;
    text-align: left;
}
.lambo h1{
    margin-top: 5%;
    text-align: left;
}
.porsche h1{
    margin-top: 5%;
    text-align: left;
}
.ferrari h1{
    margin-top: 5%;
    text-align: left;
}
.contact h1{
    margin-top: 5%;
    text-align: left;
}
img{
    width: 100%;
    height: 90%;

}
.porsche{
    height: auto;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(pback.jpg);
    background-position: center;
    background-size: 30%;
 }
 .jaguar{
    height: auto;
    width: 100%;
    background: linear-gradient(rgba(146, 137, 137, 0.7),rgba(175, 164, 164, 0.7)), url(jback.jpg);
    background-position: center;
    background-size: auto;
 }
 .ferrari{
    height: auto;
    width: 100%;
    background: linear-gradient(rgba(146, 137, 137, 0.7),rgba(175, 164, 164, 0.7)), url(fback.jpg);
    background-position: center;
    background-size: 100%;
 }
 .lambo{
    height: auto;
    width: 100%;
    background: linear-gradient(rgba(146, 137, 137, 0.7),rgba(175, 164, 164, 0.7)), url(lback.jpg);
    background-position: center;
    background-size: 40%;
 }
 .aston{
    height: auto;
    width: 100%;
    background: linear-gradient(rgba(146, 137, 137, 0.7),rgba(175, 164, 164, 0.7)), url(aback.jpg);
    background-position: center;
    background-size: 80%;
 }
nav{
    display: flex;
    padding: 20px 100px;
}
nav h1,h2{
            color: blanchedalmond;
}
nav ul{
    text-align: right;
    display: inline;
    list-style: none;
    flex: 1;
}
nav ul li{
    display: inline-block;
    margin: 0 20px;

}
.main-taxt{
    text-align: justify;
    margin: 0px;
    padding: 0px 100px;
}
.main-taxt h1{
    color: aquamarine;
    text-align: center;
}
.main-taxt h3{
    margin-top: 5%;
    align-items: baseline;
    color: rgb(95, 231, 140);
    text-align: end;
}
.main-taxt h5{
    margin-top: 20%;
    color: aqua;
    text-align: center;
    font-size: 70px;
}
.main-taxt p{

    color: rgb(0, 0, 0);
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-style: unset;
}
.main-taxt img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
}
table{
    color: rgb(247, 8, 8);
    font-size: xx-large;
    font-style: normal;
    align-content: center;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
>>>>>>> 444fd8b79dea8d7fecee4bb8a2cd4c84e377d0a4
}