*{
    margin: 0;
    padding: 0%;
}
.header{
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(image.jpg.jpg);
    background-position: center;
    background-size: 100%;
    color: rgb(243, 231, 62);

}
.header h1{
    margin-top: 5%;
    text-align: left;
}
.about h1{
    margin-top: 5%;
    text-align: left;
}
.contact{
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(contact.jpg);
    background-position: center;
    background-size: cover;

}
.about{
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(about.jpg);
    background-position: center;
    background-size: cover;

}
a{
    text-decoration: none;
    color: rgb(241, 185, 111);
   
}
.main-taxt p{
    color: rgb(252, 249, 249);
    font-size: x-large;
    text-align: center;
    margin-top: 10%;
    padding: 20px 100px;
}
.main-taxt h1{
    margin-top: 5%;
    text-align: center;
    color: whitesmoke;
}
nav{
    display: flex;
    padding: 20px 10px;
}
nav img{
    width: 150px;
    display: flex;
}
nav ul{
    text-align: right;
    display: inline;
    list-style: none;
    flex: 1;
}
nav ul li{
    display: inline-block;
    margin: 0 20px;

}
table{
    color: rgb(255, 255, 255);
    font-size: xx-large;
    font-style: italic;
    align-content: center;
    text-align: center;
    width: 60%;
    margin-left: auto;
  margin-right: auto;
  margin-top: 17%;
}